.touch {
    max-width: 1440px;
    height: 1144px;
    margin: 0 auto;
    padding: 100px 191px 20px 191px;
    flex-direction: column;
    display: flex;
    align-items: center;

    .touch_text1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        color: #000000;
        text-align: center;
    }

    .touch_text2 {
        max-width: 644px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #9F9F9F;
        margin-top: 10px;
    }

    .touch_forma {
        display: flex;
        gap: 100px;
        margin-top: 80px;

        .touch_left {
            flex-direction: column;
            display: flex;
            gap: 70px;

            .touch_left_childs {
                display: flex;
                gap: 20px;

                .icon_text_content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .icon_text1 {
                        font-weight: 700;
                        color: #000000;
                    }

                    .icon_text2 {
                        max-width: 200px;
                        color: #000000;
                        line-height: 24px;
                    }
                }
            }

            .touch_left_childs i {
                font-size: 22px;
            }
        }

        .touch_right {
            display: flex;
            gap: 50px;
            flex-direction: column;

            .form_child {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    width: 528px;
                    height: 70px;
                    border-radius: 10px;
                    border: 1px solid #9F9F9F;
                    outline: none;
                    text-indent: 20px;
                }
            }

            button {
                width: 237px;
                height: 55px;
                border-radius: 5px;
                border: 1px solid #B88E2F;
                background-color: #B88E2F;
                transition: .5s;
                color: white;
                font-size: 18px;

                &:hover {
                    background: none;
                    transition: .5s;
                    color: #B88E2F;
                }
            }
        }
    }
}

@media (max-width:1241px) {
    .touch {
        padding: 20px 30px;
        height: auto;
    }
}

@media (max-width:911px) {
    .touch_forma {
        flex-direction: column;
    }
}

@media (max-width:571px) {
    .touch {
        .touch_forma {
            .touch_left {
                align-items: center;
                justify-content: center;
            }

            .touch_right {
                .form_child {
                    input {
                        width: 428px;
                    }
                }
            }
        }
    }
}

@media (max-width:461px) {
    .touch {
        .touch_text1 {
            font-size: 26px;
        }

        .touch_text2 {
            font-size: 14px;
        }

        .touch_forma {
            .touch_right {
                .form_child {
                    input {
                        width: 300px;
                        height: 50px;
                    }
                }

                button {
                    width: 300px;
                }
            }
        }
    }
}